label {
	display: block;
	margin-bottom: 10px;
}

input, select, button {
	border-radius: 3px;
	font-family: "AmsiPro-Regular", Sans-Serif;
	font-size: 16px;
}

input {
	background-color: #ECF0F1;
	padding: 15px;
	border: 0;
	width: 100%;
	box-sizing: border-box;
	color: #444444;
}

select {
	height: 50px;
	width: 100%;
	color: #444444;
	border: 0;
	background: #ECF0F1 !important;
	padding: 15px;
 }

button {
	padding: 15px 45px;
	margin-right: 15px;
	color: white;
	background-color: #00B98A;
	border: 0;

	&:hover {
		cursor: pointer;
		background-color: rgb(0, 160, 120);
	}

	&:disabled {
		background-color: rgb(149, 235, 213);
		color: white;
		cursor: default;
	}

	&.back {
		background-color: white;
		border: 1px solid #444;
		color: #444;
	}

	&.delete {
		background-color: white;
		border: 1px solid #fc3f3f;
		color: #fc3f3f;
	}
}

.form-separator {
	height: 35px;
}

table {
	&.custom-table {
		width: 100%;
		text-align: left;

		th, td {
			padding: 20px 30px;
		}

		td {
			border-bottom: 2px solid #ECF0F1;
		}

		th {
			font-family: "AmsiPro-Bold";
			background: #d9dee0;
		}

		tr {
			&:nth-child(odd) {
				background-color: #f2f6f7;
			}

			img {
				opacity: 0.70;
    			filter: alpha(opacity=70);
			}
		}
	}
}