$top-bar-height: 96px;
$left-menu-width: 283px;

.left-side-menu, .top-bar, .main-container {
	position: fixed;
}

.top-bar, .main-container {
	left: $left-menu-width;
	right: 0;
}

.left-side-menu, .top-bar {
	top: 0;
}

.left-side-menu {
	left: 0;
	font-size: 15px;
	width: $left-menu-width;
	height: 100%;
	background-color: #0C1618;
	float: left;

	.logo {
		background-color: #091011;
		padding-left: 37px;
		height: $top-bar-height;

		img {
			margin-top: 12%;
		}
	}

	.menu {
		a.menu-item {
			text-decoration: none;
			display: block;
			color: white;
			padding: 3px 0 3px 32px;
			margin: 40px 0;
			border-left: 4px solid transparent;

			&:hover {
				cursor: pointer;
				border-left: 4px solid #FF464A;
			}

			&.logout {
				background-color: #00B98A;
				padding: 20px 32px;

				&:hover {
					border-left: 4px solid #00B98A;
				}
			}

			img {
				vertical-align: middle;
				margin: -4px 15px 0 0;
			}

			.notification {
				background-color: #FB5A62;
				padding: 4px 13px;
				margin-left: 25px;
				border-radius: 20px;
			}
		}
	}
}

.top-bar {
	padding: 0 32px;
	background-color: #EBEFF2;
	height: $top-bar-height;

	.title-container {
		float: left;
		margin-top: 36px;
	}

	table {
		margin-top: 18px;
	}
}

.main-container {
	top: $top-bar-height;
	bottom: 0;
	overflow-y: scroll;
	
	.single-form-container {
		width: 50%;
	}

	.search-container {
		background-color: white;
		width: 300px;
		height: 100%;
		overflow-y: scroll;
	}

	.welcome-container {
		position: relative;
		width: 100%;
		height: 100%;

		.welcome {
			position: absolute;
			top: 50%;
			width: 100%;
			margin-top: -40px;
			margin-left: 0;
			text-align: center;
			font-family: "AmsiPro-XLight", Sans-Serif;
			font-size: 30px;
		}
	}
}

.standard-spacing {
	padding: 32px;
}