<div class="customer-car-detail">
	<div class="title">
		Car Detail
	</div>
	<div *ngIf="!Ready">
		Loading...
	</div>
	<div>
		<form *ngIf="Ready" class="form-viewer" [formGroup]="CarDetailForm" (ngSubmit)="Save(CarDetailForm.value)" layout="column">
			<div layout="row" flex>
				<mat-form-field flex>
					<input matInput formControlName="Brand" placeholder="Brand">
				</mat-form-field>
			</div>
			<div layout="row" flex>
				<mat-form-field flex>
					<input matInput formControlName="Model" placeholder="Model">
				</mat-form-field>
			</div>
			<div layout="row" flex>
				<mat-form-field flex>
					<input matInput formControlName="Color" placeholder="Color">
				</mat-form-field>
			</div>
			<div layout="row" flex>
				<mat-form-field flex>
					<input matInput formControlName="Year" placeholder="Year">
				</mat-form-field>
			</div>

			<div layout="row" flex>
				<mat-form-field flex>
					<mat-select formControlName="Trasmission" placeholder="Transmission">
						<mat-option [value]="0">Automatic</mat-option>
						<mat-option [value]="1">Manual</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div layout="row" flex>
				<mat-form-field flex>
					<input matInput formControlName="LicensePlate" placeholder="License Plate">
				</mat-form-field>
			</div>

			<div layout="row" flex>
				<mat-form-field flex>
					<mat-select formControlName="FuelType" placeholder="Fuel Type">
						<mat-option [value]="0">Gasoline</mat-option>
						<mat-option [value]="1">Diesel</mat-option>
					</mat-select>
				</mat-form-field>
			</div>

			<div layout="row" flex content="end">
				<button mat-raised-button color="secundary" type="button" (click)="Back()">Back</button>
				<button mat-raised-button color="warn" type="button" (click)="Delete()">Delete</button>
				<button mat-raised-button color="primary" type="submit" [disabled]="!CarDetailForm.valid">Save</button>
			</div>
		</form>
	</div>

	<div class="form-viewer list" *ngIf="Ready">
		<br />
		<h2>Car History Appointments: {{Appointments.length}}</h2>
		<br />
		<ul class="appointmentList">
			<li class="appointmentItem" *ngFor="let appointment of Appointments" layout="row">
				<div style="display: inline-block; width: 500px; height: 45px;">
					<div style="display:inline-block; float:left;">
						<icon icon="car"></icon>
						<span>{{appointment.AppointmentDate | date:'mediumDate'}} - {{appointment.IdWorkshop}}</span>
					</div>
					<div style="display:inline-block; float:right;">
						<button mat-raised-button color="accent" [routerLink]="['/customer/appointment/', appointment.IdAppointment]" type="button">See Appointment</button>
					</div>
				</div>
			</li>
		</ul>
	</div>


</div>
