<div class="container">
	<h1>Sign in</h1>
	<div class="box-separator colour-green"></div>

	<div *ngIf="ready && authenticated">
		<p>Hi, {{user.name }}</p>
		<a routerLink="/customer">Click here to access you account</a>
		
		<p>
			It's not your account? <a (click)="singOut()">Click here to log out.</a>
		</p>
	</div>

	<form *ngIf="ready && !authenticated" [formGroup]="singInForm" (ngSubmit)="signIn(singInForm.value)">
		<label>Email</label>
		<input name="email" formControlName="email" type="email" required />

		<div class="form-separator"></div>

		<label>Password</label>
		<input type="password" formControlName="password" name="password" required />

		<div class="form-separator"></div>
		
		<mat-checkbox formControlName="remember">Remember me</mat-checkbox>

		<div class="form-separator"></div>

		<table width="100%">
			<tr>
				<td>
					<button type="submit" [disabled]="!this.singInForm.valid">Sign in</button>
				</td>

				<td align="right">
					Don't have an account?
					<br />
					<a class="green-link" routerLink="/sign-up">Sign up</a>
				</td>
			</tr>
		</table>
		<div *ngIf="error" style="color:red">
			{{errorMessage}}
		</div>
	</form>
</div>