@import "../../../styles/app-constants.scss";

.sign-up-workshop {
	margin-top: 20px;

	form {
		border-top: $bordertop;
		padding: 10px;
		width: 450px;
		background-color: $backcolor;

		.logo {
			img {
				height: 250px;
			}

			span {
				font-size: 65px;
				margin: 15px;
			}
		}

		.links {
			margin-top: 10px;

			a {
				margin-top: 8px;
			}
		}
	}
}
