<div class="sign-up" layout="column" flex content="center start">
	<form *ngIf="Ready" [formGroup]="SignUpForm" (ngSubmit)="SignUp(SignUpForm.value)" layout="column">
		<div class="logo" layout="column" content="center start">
			<img src="/assets/carBlack.png" />
			<span>
				eWorkshop
			</span>
		</div>
		<div>
			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="FirstName" placeholder="First Name">
				</mat-form-field>

				<mat-form-field>
					<input matInput formControlName="LastName" placeholder="Last Name">
				</mat-form-field>
			</div>

			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="Telephone" placeholder="Telephone" >			

					<small style="font-size:small;color:red" [hidden]="SignUpForm.controls.Telephone.valid || (SignUpForm.controls.Telephone.pristine && !submitted)">
						Insert a valid Canadian Number (ex.6476741898).
					</small>
				</mat-form-field>
			</div>
			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="Email" placeholder="Email">				

				</mat-form-field>
			</div>
			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="Password" type="password" placeholder="Password">
				</mat-form-field>

				<mat-form-field>
					<input matInput formControlName="PasswordConfirm" type="password" placeholder="Confirm password">
				</mat-form-field>
			</div>

			<div layout="row" content="end">
				<button mat-raised-button color="primary" type="submit" [disabled]="!SignUpForm.valid">Sign Up</button>
			</div>

			<div class="links" layout="column" content="center">
				<a routerLink="/account/sign-in">Do you have an account?</a>
				<a routerLink="/account/sign-up-workshop">Create your account as Workshop</a>
			</div>

			<div *ngIf="ShowMessage" class="error-message">
				{{Message}}
			</div>

		</div>
	</form>
</div>
