<div class="sign-up-workshop" layout="column" flex content="center start">
	<form *ngIf="Ready" [formGroup]="SignUpWorkshopForm" (ngSubmit)="SignUp(SignUpWorkshopForm.value)" layout="column">
		<div class="logo" layout="column" content="center start">
			<img src="/assets/carBlack.png" />
			<span>
				eWorkshop
			</span>
		</div>
		<div>
			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="FirstName" placeholder="Display Name">
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="LastName" placeholder="Legal Name">
				</mat-form-field>
			</div>

			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="Telephone" placeholder="Telephone">

					<small style="font-size:small;color:red" [hidden]="SignUpWorkshopForm.controls.Telephone.valid || (SignUpWorkshopForm.controls.Telephone.pristine && !submitted)">
						Insert a valid Canadian phone number (ex.6476741898).
					</small>
				</mat-form-field>
			</div>

			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="Email" placeholder="Email">
				</mat-form-field>
			</div>

			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="Password" type="password" placeholder="Password">
				</mat-form-field>

				<mat-form-field>
					<input matInput formControlName="PasswordConfirm" type="password" placeholder="Confirm Password">
				</mat-form-field>
			</div>

			<div layout="row" content="end">
				<button mat-raised-button color="primary" type="submit" [disabled]="!SignUpWorkshopForm.valid">Sign Up</button>
			</div>

			<div class="links" layout="column" content="center">
				<a routerLink="/account/sign-in">Do you have an account?</a>
				<a routerLink="/account/sign-up">Create your account as Costumer</a>
			</div>

			<div *ngIf="ShowMessage" class="error-message">
				{{Message}}
			</div>

		</div>
	</form>
</div>
