<div style="margin: 10px auto;">
	<form class="example-form" (keydown.enter)="$event.preventDefault()">
		<input matInput placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" style="margin: 10px;" #search>
		<agm-map [latitude]="lat" [longitude]="lng" style="height: 300px; width: 100%; margin: 10px auto;">
			<agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true" (dragEnd)="MarkerDragEnd($event)"></agm-marker>
		</agm-map>
	</form>
</div>