<div class="workshop-price-table">
	<div class="title">
		Price Table
	</div>
	<div class="form-viewer" *ngIf="!Services">
		Loading...
	</div>
	<div class="form-viewer list" *ngIf="Services">
		<h2>Services Registered: {{Services.length}}</h2>
		<br />
		<ul class="serviceList">
			<li class="serviceItem" layout="row" *ngFor="let service of Services">
				<span>{{service.Service.Name}} - {{service.Price | currency:'CAD':'symbol-narrow'}}</span>
				<button mat-raised-button color="accent" [routerLink]="['/workshop/pricetable/', service.IdWorkshopService]">Edit</button>

			</li>
		</ul>
		<br />
		<button mat-raised-button color="accent" [routerLink]="['/workshop/pricetable/', 'newservice']">New Service</button>

	</div>
</div>
