.workshop-price-table {
		margin: 10px;

		button {
			margin-left: 5px;
		}

		.serviceList {
			max-width: 500px;

			.serviceItem {
				margin-top: 10px;

				span {
					margin: 8px 10px;
				}
			}
		}
	}
