<div class="workshop-address-detail" layout="column" flex>

	<googleMaps *ngIf="Ready" [addressIn]="Workshop" (addressOut)="UpdateAddress($event)"></googleMaps>

	<form *ngIf="Ready" [formGroup]="WorkshopAddressForm" (ngSubmit)="SaveChanges(WorkshopAddressForm.value)" layout="column">

		<div class="form-viewer">
			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="StreetNumber" placeholder="Street Number" [readonly]="true">
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="Street" placeholder="Street" [readonly]="true">
				</mat-form-field>
			</div>

			<div layout="row">
				<mat-form-field>
					<input matInput formControlName="City" placeholder="City" [readonly]="true">
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="Province" placeholder="Province" [readonly]="true">
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="Country" placeholder="Country" [readonly]="true">
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="PostalCode" placeholder="PostalCode" [readonly]="true">
				</mat-form-field>
			</div>

			<div layout="row" style="visibility:hidden">
				<mat-form-field>
					<input matInput formControlName="Longitude" placeholder="Longitude" [readonly]="true">
				</mat-form-field>
				<mat-form-field>
					<input matInput formControlName="Latitude" placeholder="Latitude" [readonly]="true">
				</mat-form-field>
			</div>


			<div class="form-footer">
				<div>
					<button mat-raised-button color="primary" type="submit" [disabled]="!WorkshopAddressForm.valid">Save</button>
					<button mat-raised-button color="warn" type="button" (click)="DeleteAddress()">Delete</button>
					<button mat-raised-button color="secundary" type="button" (click)="Back()">Back</button>
				</div>
			</div>
			<div *ngIf="ShowMessage" class="error-message">
				{{Message}}
			</div>

		</div>
	</form>
</div>