<div class="workshop-address-list" layout="column" flex>
	<div class="title">Workshop Addresses </div>
	<div layout="row">
		<div *ngIf="Ready">
			<ul class="addresses" *ngFor="let item of WorkShopAddress; let i = index">
				<li>
					<div style="display: inline-block; width: 500px; height: 45px;">
						<div style="display:inline-block; float:left;">
							<span class="badge">{{item.StreetNumber}} {{item.Street}} {{item.PostalCode}} {{item.City}}</span>
						</div>
						<div style="display:inline-block; float:right;">
							<button mat-raised-button color="accent" [routerLink]="['/customer/address/', item.IdAddress]" type="button">Edit</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div flex> </div>
		<div layout="row" content="end">
			<button mat-raised-button color="primary" (click)="NewAddress()" type="button"> New Address </button>
		</div>
		<div layout="row" content="end">
			<button mat-raised-button color="secundary" (click)="Back()" type="button"> Back </button>
		</div>
		<div *ngIf="ShowMessage" class="error-message">
			{{Message}}
		</div>
	</div>
</div>