<div class="workshop-profile-detail" layout="column" flex>
	<div class="title">
		Workshop Profile
	</div>
	<div *ngIf="!Ready">
		Loading...
	</div>
	<form *ngIf="Ready" [formGroup]="WorkShopProfileForm" (ngSubmit)="SaveChanges(WorkShopProfileForm.value)" layout="column">
		<div layout="row" flex>
			<mat-form-field flex>
				<input matInput formControlName="FirstName" placeholder="Display Name">
			</mat-form-field>
		</div>

		<div layout="row" flex>
			<mat-form-field flex>
				<input matInput formControlName="LastName" placeholder="Legal Name">
			</mat-form-field>
		</div>

		<div layout="row" flex>
			<mat-form-field flex>
				<input matInput formControlName="Telephone" placeholder="Telephone">
			</mat-form-field>
		</div>

		<div layout="row" flex>
			<mat-form-field flex>
				<input matInput formControlName="Email" placeholder="Email">
			</mat-form-field>
		</div>

		<div layout="row" formGroupName="Workshop">
			<mat-form-field flex>
				<textarea rows="8" matInput formControlName="Description" placeholder="Description"></textarea>
			</mat-form-field>
		</div>

		<div layout="row" content="end">
			<button mat-raised-button color="secundary" (click)="Back()" type="button">Back</button>
			<button mat-raised-button color="accent" (click)="LoadProfile()" [disabled]="WorkShopProfileForm.untouched " type="button">Cancel</button>
			<button mat-raised-button color="primary" type="submit" [disabled]="!WorkShopProfileForm.valid || WorkShopProfileForm.untouched">Save</button>
		</div>

		<div layout="row" flex>
			<div *ngIf="ShowMessage" class="error-message">
				{{Message}}
			</div>
		</div>
	</form>
</div>
