@import "assets/css/reset";
@import "assets/css/fonts";
@import "assets/css/helpers";

/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
	height: 100%;
	font-family: "AmsiPro-Regular", Sans-Serif;
	font-size: 15px;
	color: #333333;
}