.layout-customer {
	width: 100%;

	.header {
		height: 55px;
		width: 100%;
		position: fixed;
		z-index: 2;
		color: #fff;
		background-color: rgba(10,10,10,.68);
		height: 55px;
		line-height: 55px;

		.logo {
			height: 55px;
			line-height: 55px;
			width: 233px;
			color: white;
			font-weight: 900;
			font-size: 25px;
			background-color: #c50101;
			text-align: center;
		}

		.logOffButton {
			z-index: 10;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	.mat-sidenav-content {
		display: flex !important;
	}


	.container {
		margin-top: 55px;
		width: 100%;
		height: 100%;
		display: flex;
		flex: 1 0 auto;

		mat-sidenav {
			background-color: #202020;
			width: 233px;
			top: 55px;

			.user {
				img {
					margin: 15px 50px;
				}
			}

			.welcomeText {
				color: white;
				text-align: center;
				margin-bottom: 10px;
			}

			.menu {
				margin: 0;
				padding: 0;
				list-style: none;
				background: rgb(255,255,255);
			}

			.menu li {
				padding: 0;
				margin: 0 0 1px 0;
				height: 40px;
				display: block;
			}

			.menu li a {
				text-align: left;
				height: 40px;
				padding: 0px 25px;
				font: 16px Verdana, Arial, Helvetica, sans-serif;
				color: rgb(255,255,255);
				display: block;
				background: url('/assets/verMenuImages.png') 0px 0px no-repeat;
				text-decoration: none;
			}

			.menu li a:hover {
				background: url('/assets/verMenuImages.png') 0px -40px no-repeat;
				color: rgb(255,255,255);
			}

			.menu li a.active, .menu li a.active:hover {
				background: url('/assets/verMenuImages.png') 0px -80px no-repeat;
				color: rgb(255,255,255);
			}

			.menu li a span {
				line-height: 40px;
			}

			.menu li a icon {
				fill: white;
			}
		}

		.fixed {
			top: 5px !important;
		}

		.content {
			width: 100%;
			height: 100%;
		}
	}
}
