<div class="layout-customer" layout="column" flex>
	<div class="header" shadow="2" layout="row">
		<a class="logo" routerLink="/">
			E-Workshop
		</a>
		<div class="logOffButton">
			<button mat-button color="warn" (click)="SignOut()">Log off</button>
		</div>
	</div>
	<mat-sidenav-container class="container">
		<mat-sidenav [mode]="SideNavMode" [opened]="SideNavOpen" #sidenav shadow="2" fixedInViewport="true" fixedTopGap="55">
			<div class="user">
				<img src="/assets/find_user.png" class="background" />
				<div class="welcomeText">Welcome {{UserName}}</div>
			</div>

			<ul class="menu" layout="column">
				<li>
					<a routerLink="profile">
						<icon icon="user"></icon>
						<span>Profile</span>
					</a>
				</li>
				<li>
					<a routerLink="profile/car">
						<icon icon="car"></icon>
						<span>Cars</span>
					</a>
				</li>
				<li>
					<a routerLink="appointment">
						<icon icon="appointment"></icon>
						<span>Appoinments</span>
					</a>
				</li>
				<li>
					<a routerLink="search">
						<icon icon="search"></icon>
						<span>Search</span>
					</a>
				</li>
				<li>
					<a routerLink="address">
						<icon icon="home"></icon>
						<span>Address</span>
					</a>
				</li>
			</ul>
		</mat-sidenav>

		<div class="content" layout="column" flex>
			<router-outlet root></router-outlet>
		</div>

	</mat-sidenav-container>
</div>