<div class="customer-appointment-list">
	<div class="title">Customer Appointments </div>
	<div layout="row">
		<div *ngIf="Ready">
			<ul class="appointments" *ngFor="let item of Appointments; let i = index">
				<li>
					<div style="display: inline-block; width: 500px; height: 45px;">
						<div style="display:inline-block; float:left;">
							<span class="badge">{{item.AppointmentDate | date:'longDate'}}</span>
						</div>
						<div style="display:inline-block; float:right;">
							<button mat-raised-button color="accent" [routerLink]="['/customer/appointment', item.IdAppointment]" type="button">Edit</button>
						</div>
					</div>
				</li>
			</ul>
		</div>
		<div flex> </div>
		<div layout="row" content="end">
			<button mat-raised-button color="primary" type="button" [routerLink]="['/customer/search/']"> New Appointment </button>
		</div>
	</div>
</div>
