<div class="customer-appointment-detail">
	<div class="title">
		Appointment Detail
	</div>
	<div *ngIf="!Ready">
		Loading...
	</div>
	<form *ngIf="Ready" class="form-viewer" [formGroup]="AppointmentForm" (ngSubmit)="SaveChanges(AppointmentForm.value)" layout="column">
		<div layout="row" flex>
			<mat-form-field flex>
				<input formControlName="AppointmentDate" matInput [matDatepicker]="picker" placeholder="Choose a date">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</div>
		<div layout="row" flex>
			<mat-form-field flex>
				<mat-select formControlName="Status" placeholder="Status">
					<mat-option [value]="0">Aberto</mat-option>
					<mat-option [value]="1">Encerrado</mat-option>
					<mat-option [value]="2">Cancelado</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="workshop" *ngIf="Workshop">
			<div layout="row" flex>
				<mat-form-field flex>
					<mat-select formControlName="IdCar" placeholder="Car">
						<mat-option *ngFor="let car of Cars" [value]="car.IdCar">{{car.Brand}} {{car.Model}} {{car.Year}}</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div layout="row" flex>
				<mat-form-field flex>
					<input matInput placeholder="Workshop employee" value="{{Workshop.Person.FirstName}} {{Workshop.Person.LastName}}" readonly>
				</mat-form-field>
			</div>
			<div layout="row" flex>
				<mat-form-field flex>
					<div class="address" *ngFor="let address of Workshop.Addresses">
						<input matInput placeholder="Workshop Address" value="{{address.StreetNumber}}, {{address.Street}} - {{address.City}}/{{address.PostalCode}}" readonly>
					</div>
				</mat-form-field>
			</div>
			<div class="services" formArrayName="Services">
				<div *ngFor="let service of AppointmentForm.get('Services').controls; let i=index" [formGroup]="service">
					<div formGroupName="Service">
						<mat-checkbox formControlName="Selected">{{service.controls.Service.controls.Name.value}}</mat-checkbox>
					</div>
				</div>
			</div>
		</div>

		<div layout="row" flex content="end">
			<button mat-raised-button color="secundary" type="button" (click)="Back()">Back</button>
			<button mat-raised-button color="warn" type="button" (click)="Delete()">Delete</button>
			<button mat-raised-button color="primary" type="submit" [disabled]="!AppointmentForm.valid">Save</button>
		</div>
	</form>
</div>
