<div class="search" layout="column" flex>
	<div layout="row" class="search-box" shadow="1">
		<mat-form-field>
			<input matInput [(ngModel)]="Filter.Name" placeholder="Workshop">
		</mat-form-field>
	</div>
	<div layout="row" flex class="search-result" shadow="1">
		<div flex class="search-map" #divMap>
			<agm-map [latitude]="lat" [longitude]="lng" [style.height.px]="MapSize">
				<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
				<ng-container *ngFor="let workshop of Workshops">
					<agm-marker *ngFor="let address of workshop.Addresses" [iconUrl]="'/assets/map-flag-marker.png'" [latitude]="address.Latitude" [longitude]="address.Longitude">
						<agm-snazzy-info-window [maxWidth]="300" [maxHeight]="450" [closeWhenOthersOpen]="true">
							<ng-template>
								<search-pop-up [workshop]="workshop" [address]="address"></search-pop-up>
							</ng-template>
						</agm-snazzy-info-window>
					</agm-marker>
				</ng-container>
			</agm-map>
		</div>
		<div layout="column" class="search-filter" shadow="1">
			<div class="search-filter-location">
				<mat-form-field>
					<mat-select placeholder="My Location" [(ngModel)]="BaseLocation" (change)="UpdateLocation()">
						<mat-option value="0">My Current Location</mat-option>
						<mat-option *ngFor="let address of UserAddresses" [value]="address.IdAddress">
							{{ address.Name }}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
			<div class="search-filter-distance">
				<span>Distance from my location</span>
				<mat-slider style="width: 100%;"
							[max]="500"
							[min]="10"
							[step]="10"
							[thumb-label]="true"
							[tick-interval]="10"
							[(ngModel)]="MaximumDistance">
				</mat-slider>
			</div>

			<div class="search-filter-services">
				<ul>
					<li *ngFor="let service of Services">
						<mat-checkbox [(ngModel)]="service.Selected">{{service.Name}}</mat-checkbox>
					</li>
				</ul>
			</div>
			<div flex></div>
			<div layout="row" content="end">
				<button mat-raised-button color="primary" (click)="GetWorkshop()">Search</button>
			</div>
		</div>
	</div>
</div>
