<div class="left-side-menu">
	<div class="logo">
		<img src="assets/img/logo.png" width="165" />
	</div>

	<div class="menu">
		<a class="menu-item" routerLink="/customer"><img src="assets/img/dashboard-white-icon.png" width="20" />Home</a>
		<a class="menu-item" routerLink="/customer/profile"><img src="assets/img/profile-white-icon.png" width="20" />Profile</a>
		<a class="menu-item" routerLink="/customer/cars"><img src="assets/img/car-white-icon.png" width="20" />Cars</a>
		<a class="menu-item" routerLink="/customer/appointments"><img src="assets/img/appointments-white-icon.png" width="20" />Appointments<span class="notification">1</span></a>
		<a class="menu-item" routerLink="/customer/search"><img src="assets/img/search-white-icon.png" width="20" />Search</a>
		<a class="menu-item" routerLink="/customer/address"><img src="assets/img/address-white-icon.png" width="18" />Address</a>
		<a class="menu-item logout" routerLink="/logout"><img src="assets/img/logout-white-icon.png" width="20" />Logout</a>
	</div>
</div>

<router-outlet></router-outlet>