label {
	display: block;
	margin-bottom: 14px;
}

input {
	padding: 15px;
	background-color: #ECF0F1;
	border: 0;
	width: 100%;
	box-sizing: border-box;
	border-radius: 3px;
	font-family: "AmsiPro-Regular", Sans-Serif;
	font-size: 16px;
	color: #444444;
}