:host {
	background: url('/assets/bgLogin.jpg') no-repeat center center fixed;
	background-size: cover;	
}

.layout-public {
	.header {
		position: fixed;
		left: 0;
		top: 0;
		height: 56px;
		line-height: 56px;
		width: 100%;
		background-color: rgba(160, 160, 160, 0.65);

		.menu {
			a {
				display: inline-block;
				width: 110px;
				color: #fff;
				text-align: center;

				&:hover {
					background-color: rgba(0, 0, 0, 0.2);
				}
			}
		}
	}

	router-outlet {
		margin-top: 56px;
	}
}
