@import "~xcommon/styles/functions.scss";
@import "../../../styles/app-constants.scss";

.about {
	.content {
		margin-top: 20px;
		width: 750px;
		padding: 10px;
		border-top: $bordertop;
		background-color: $backcolor;

		@include respond-to($device-small) {
			width: calc(100% - 30px);
		}

		p:nth-child(n+1) {
			margin-top: 10px;
		}
	}
}
