<div class="layout-workshop" layout="column" flex>
	<div class="header" shadow="2" layout="row">
		<a class="logo" routerLink="/">
			E-Workshop
		</a>
		<div class="logOffButton">
			<button mat-button color="warn" (click)="SignOut()">Log off</button>
		</div>
	</div>
	<mat-sidenav-container class="container" layout="row" flex>
		<mat-sidenav [mode]="SideNavMode" [opened]="SideNavOpen" #sidenav shadow="2" fixedInViewport="true" fixedTopGap="55">
			<div class="user">
				<img src="/assets/find_user.png" class="background" />
				<div class="welcomeText">Welcome {{UserName}}</div>
			</div>
			
			<ul class="menu" layout="column">
				<li>
					<a routerLink="/workshop/profile">
						<icon icon="user"></icon>
						<span>Profile</span>
					</a>
				</li>
				<li>
					<a routerLink="/workshop/pricetable">
						<icon icon="price"></icon>
						<span>Price table</span>
					</a>
				</li>
				<li>
					<a routerLink="/workshop/appointment">
						<icon icon="appointment"></icon>
						<span>Appoinments</span>
					</a>
				</li>
				<li>
					<a routerLink="/workshop/address">
						<icon icon="home"></icon>
						<span>Address</span>
					</a>
				</li>
			</ul>
		</mat-sidenav>

		<div class="content" layout="column"  flex>
			<router-outlet root></router-outlet>
		</div>

	</mat-sidenav-container>
</div>