<div class="container">
	<h1>Sign in</h1>
	<div class="box-separator colour-green"></div>
	
	<form method="POST">
		<label>Email</label>
		<input name="email" type="email" required />

		<div class="form-separator"></div>

		<label>Password</label>
		<input type="password" name="password" required />

		<div class="form-separator"></div>

		<mat-checkbox>Remember me</mat-checkbox>

		<div class="form-separator"></div>

		<table width="100%">
			<tr>
				<td>
					<button type="submit">Sign in</button>
				</td>

				<td align="right">
					Don't have an account?<br />
					<a class="green-link" routerLink="/sign-up">Sign up</a>
				</td>
			</tr>
		</table>
	</form>
</div>