<div class="container">
	<h1>Sign in</h1>
	<div class="box-separator colour-green"></div>
	
	<label>Email</label>
	<input name="email" />

	<div class="form-separator"></div>

	<label>Password</label>
	<input name="password" />

	<div class="form-separator"></div>

	<mat-checkbox>Remember me</mat-checkbox>

	<div class="form-separator"></div>

	<table width="100%">
		<tr>
			<td>
				<button>Sign in</button>
			</td>

			<td align="right">
				Don't have an account?<br />
				<a class="green-link" routerLink="/sign-up">Sign up</a>
			</td>
		</tr>
	</table>
</div>