@import "~xcommon/styles/layout-full.scss";
@import "~snazzy-info-window/dist/snazzy-info-window.scss";
@import "app-constants.scss";
@import "app-theme.scss";

@include xcommon-reset();
@include xcommon-layout-full();
@include xcommon-fullbody();

body {
	font-family: Roboto,"Helvetica Neue",sans-serif;
}

/*Angular*/
router-outlet[root] + * {
	display: flex;
	flex-direction: column;
	flex: 1 0 0;
}

a {
	cursor: pointer;
}

.title {
	font-size: 25px;
	margin: 10px 0 20px 0px;
	line-height: 40px;
	font-weight: bold;
}
