@import "assets/css/reset";
@import "assets/css/fonts";
@import "assets/css/helpers";
@import "assets/css/form";
@import "assets/css/theme";

html, body {
	width: 100%;
	height: 100%;
	font-family: "AmsiPro-Regular", Sans-Serif;
	font-size: 16px;
	color: #444444;
	line-height: 24px;

	h1 {
		font-size: 26px;
	}

	.box-separator {
		width: 28px;
		height: 4px;
		margin: 34px 0 58px;
		
		&.colour-green {
			background-color: #00B98A;
		}
	}

	a {
		text-decoration: none;

		&.green-link {
			color: #00B98A;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}