.search-pop-up {
  .name {
    font-size: 16px;
    font-weight: bold;
  }

  .address {
    padding-top: 10px;
    font-size: 14px;
  }

  .new-appointment {
    margin: 10px 0 0;
    text-align: center;
  }

  .description {
    padding-top: 10px;
    font-size: 12px;
  }
}
