.search-pop-up {
	background: white;
	padding: 20px;
	font-family: "AmsiPro-Regular", Sans-Serif;
	font-size: 14px;
	border-radius: 3px;

	.address, .new-appointment {
		padding-top: 12px;
	}

	.name {
		font-family: "AmsiPro-Bold", Sans-Serif;
		font-size: 17px;
	}

	.description {
		padding-top: 4px;
		font-size: 12px;
	}
}